 body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            background-color: #f0f0f0;
            color: #333;
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #3498db;
            color: red;
        }

        section {
            margin-top: 30px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1{
            color: #fff;
        }
        
        h2 {
            color: #3498db;
        }

        p {
            line-height: 1.8;
            color: #555;
        }

        footer {
            margin-top: 50px;
            text-align: center;
            padding: 10px;
            background-color: #3498db;
            color: #fff;
        }